.table {
    width: 600px;
    margin: 0 auto;
  }
  
  th,
  td {
    border: 1px solid;
    background-color: #ffc184;
    padding: 10px;
    font-family: "Ubuntu", sans-serif;
    margin: 0 auto;
    border: 5px solid #fc8f8f;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px gray;
  }
  table {
    border: 4px solid #b5c0ff;
    background-color: #ffc184;
  }
  
  body {
    background-image: url("https://c.stocksy.com/a/hBN400/z0/1042449.jpg");
    background-color: #cccccc;
    background-size: tile;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
  }
  