td{
    text-align: center;
    width: 200px;
    height: 25px;
    background-color: white;
    border: 2px solid #efb31a;
    margin: -3px;
  }
  h1,th{
    color: white;
  }
  
  table {
    background-color: #59b4f7;
    padding: 10px;
    font-family: "Ubuntu", Ubuntu, sans-serif;
    margin: 0 auto;
    border: 5px solid #efb31a;
  }
  
  th {
    height: 35px;
    text-transform: uppercase;
    text-shadow: 1px 1px 2px gray;
  }
  
  body
  {
    background-image: url("https://c.stocksy.com/a/Kb9500/z0/1228550.jpg");
      background-color: #cccccc;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  
  
  }