p {
    text-align: center;
    font-family: "VT323", monospace;
    font-size: 70px;
    color: #e81212;
  }
  
  #clock {
    width: 450px;
    padding: 5px;
    background-color: #dee5ef;
    margin: 0 auto;
    border-radius: 70px;
    border: 10px solid #3582ff;
    margin-top: 100px;
  }
  
  body {
    background-image: url(https://c.stocksy.com/a/cdD200/z0/529084.jpg);
  }
  