<htmml>

<style>
  #flag {
  font-family: "Lucida Sans Regular", sans-serif;
  width: 398px;
  border: 1px solid #ddd;
  margin: 0 auto;
  position: relative; }
.blue {
  position: absolute; 
  top: 0;
  left: 0;
  width: auto !important;
  width: 180px;
  background-color: #00348c;
  color: #fff;
  text-align: center;
  padding: 2px 0 5px 8px !important;
  padding: 2px 0 5px 0; }
.blue p {
  letter-spacing: 12px;
  height: 14px;
  font-size: 20px;
  line-height: 14px;
  margin: 0; }
p.stripe {
  height: 19px;
  font-weight: bold;
  text-align: right;
  padding: 0 5px;
  margin: 0; }
.red {
  color: #f70029;
  background-color: #f70029; }
.white {
  color: #fff;
  background-color: #fff; }
</style>

<body>

  <div id="flag">
  <div class="blue">
  <p>&#9733;&#9733;&#9733;&#9733;&#9733;&#9733;</p>
  <p>&#9733;&#9733;&#9733;&#9733;&#9733;</p>
  <p>&#9733;&#9733;&#9733;&#9733;&#9733;&#9733;</p>
  
<p>&#9733;&#9733;&#9733;&#9733;&#9733;</p>
  <p>&#9733;&#9733;&#9733;&#9733;&#9733;&#9733;</p>
  <p>&#9733;&#9733;&#9733;&#9733;&#9733;</p>
  <p>&#9733;&#9733;&#9733;&#9733;&#9733;&#9733;</p>
  <p>&#9733;&#9733;&#9733;&#9733;&#9733;</p>
  <p>&#9733;&#9733;&#9733;&#9733;&#9733;&#9733;</p>
  </div>
  <p class="red stripe"></p>
<p class="white stripe"></p>
        <p class="red stripe"></p>
<p class="white stripe"></p>
        <p class="red stripe"></p>
<p class="white stripe"></p>
        <p class="red stripe"></p>
<p class="white stripe"></p>
        <p class="red stripe"></p>
<p class="white stripe"></p>
        <p class="red stripe"></p>
<p class="white stripe"></p>
</div>
</body>
</html>