body {
    background-color: white;
 }
 
 .panel {
   margin:20px auto;
   width: 800px;
 }
 
 .container {
     background-color: black;
     border: 10px solid #4b2e83;
 }
 
 
 #su {
   background-color: #990000;
   color: lightgray;
 }
 
 #ou {
   background-color: #154733; 
   color: yellow;
 }
 
 #wsu {
   background-color: #981e32;
   color: #5e6a71; 
 }
 
 #cal {
   background-color: #081f3f;
   color: #fcb326
 }
 
 #uw {
   background-color: #4b2e83;
   color: #b7a57a;
 }
 
 #osu {
   background-color: #252525;
   color: #Cc4500;
 }
 .panel-title{font-family: 'Oswald', sans-serif;}
 #titles{text-align:center;font-family: 'Oswald', sans-serif;font-size:20px}
 #team{text-align:center;font-family: 'Oswald', sans-serif;font-size:18px;}
 
 li{text-align:center;font-family: 'Oswald', sans-serif;font-size:16px;}
 div{text-align:center;font-family: 'Oswald', sans-serif;font-size:16px;}
 