table {
    text-align: center;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    background-color: white;
    
    
  }
  th {
    font-family: "Raleway", sans-serif;
     background-color: #EEE8AA;
    color: white;
    text-indent: 30px;
  }
  tr {
    background-color: white;
  }
  h1 {
    text-align: center;
    background-color: #EEE8AA;
    margin: auto 0;
    padding: 20px;
     border-radius: 10px;
    
   
      
   
  }
  
  #jumbo {
    margin-left: 50px;
    margin-right: 50px;
    margin-top: 25px;
  }
  
  .button {
    text-align: center;
    padding: 20px;
    
  }
  body {
    background-image: url("https://c.stocksy.com/a/8CM300/z0/800304.jpg");
    background-size: 1400px 1400px;
    background-repeat: no-repeat;
     background-attachment: fixed;
   
  }