table{
    margin: 0 auto;
    width: 900px;
    text-align: left;
    background-color: white;
  }
  [type|="button"]{
    color:blue;
  }
  body{
    text-align:center;
    margin: 0 auto;
  }
  .button{
  text-decoration: none;
  }
  th, tr {
      border-bottom: 1px solid #ddd;
    
    background-color: white;
  }
  body {
    background-image: url(https://c.stocksy.com/a/yRq000/z0/201622.jpg);
    background-size: cover;
  
  background-position: 50% 50%;
  }
  
  h1
  {
     text-transform: uppercase;
    text-shadow: 1px 1px 2px gray;
  }