<head>
  <title>Pac-12 North Division</title>
</head>

<body>
  <img src="http://x.pac-12.com/profiles/pac12/themes/pac12_foundation/images/pac12/logo.png" alt="Pac-12 logo" title="Pac-12 Home">
  <h3>Vote for your favorite Football Team</h3>

 <input type=image <img src="http://x.pac-12.com/sites/default/files/styles/thumbnail/public/washington-logo_0__1438812441.png" style="width:32px;height:32px; <form action= "http://courses.washington.edu/bimd233/bimd.php" method="post"> <input type="radio" name="team" value="Washington Huskies">Washington Huskies<br/>
    
                                             <input type= image <img src="http://x.pac-12.com/sites/default/files/styles/thumbnail/public/washington-state-logo__1438812470.png" style="width:32px;height:32px; <form action="http://courses.washington.edu/bimd233/bimd.php" method="post">  <input type="radio" name="team" value="Washington Cougars">Washington Cougars<br />
   
                                                                                           <input type = image <img src="http://x.pac-12.com/sites/default/files/styles/thumbnail/public/Stanford_Logo_New_LG__1438812239.png" style="width:32px;height:32px; <form action="http://courses.washington.edu/bimd233/bimd.php" method="post">   <input type="radio" name="team" value="Stanford Cardinals">Stanford Cardinals<br />
    
 <input type= image <img src="http://x.pac-12.com/sites/default/files/styles/thumbnail/public/cal_yellow_lg_2017.png" style="width:32px;height:32px; <form action="http://courses.washington.edu/bimd233/bimd.php" method="post">  <input type="radio" name="team" value="California Bears">California Bears<br />
   
                                                <input type= image <img src="http://x.pac-12.com/sites/default/files/styles/thumbnail/public/oregon-state-logo_0__1438812147.png" style="width:32px;height:32px; <form action="http://courses.washington.edu/bimd233/bimd.php" method="post"> <input type="radio" name="team" value="Oregon State">Oregon State Beavers<br />
   
                                                                                              <input type= image <img src="http://x.pac-12.com/sites/default/files/styles/thumbnail/public/oregon-g-logo__1438812094.png" style="width:32px;height:32px; <form action="http://courses.washington.edu/bimd233/bimd.php" method="post">    <input type="radio" name="team" value="Oregon">Oregon Ducks<br />
  <br/>My State: <input type="text" name="state"><br/></form>
    
                                                 <form action="http://courses.washington.edu/bimd233/bimd.php" method="post">
 <input type="submit"> 
  </form>
</body>

</html>
