.container {
    background-color: black;
    border: 10px solid #4b2e83;
      width: 600px;
  }
  
  .panel {
    margin: 20px auto;
    width: 400px;
  }
  
  
  #deselected {
    background-color: #b7a57a;
    color: #4b2e83;
  }
  
  .clicked {
    background-color: yellow;
  }