#table_data {
    text-align: center;
    font-family: "ubuntu", sans-serif;
    text-transform: uppercase;
    background-color: #00BE40;
  }
  p {
    text-align: center;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    margin-right: 100px;
    font-size: 18px;
  }
  #contain {
    margin-left: 350px;
    margin-right: 300px;
  }
  h1 {
    text-align: center;
    font-family: "ubuntu", san-serif;
    margin-right: 100px;
  }
  footer {
    margin-top: 20px;
  }
  #title {
    background-color: green;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  body{
    background-image: url("https://c.stocksy.com/a/uUp500/z0/1389600.jpg");
    background-size: 1400px 1400px;
    background-repeat: no-repeat;
     background-attachment: fixed;
  }